.bgImage {
	background: url('/assets/images/background2.jpg') no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

body {
	background: transparent;
	margin-top: 20px;
}

.createTaskPanel {
	background-color: rgba(255, 255, 255, 0.85);
	border: 0.5px solid;
	border-radius: 4px;
	padding: 2px;
	margin: 5px;
}

.taskItem {
	background-color: rgba(255, 255, 255, 0.85);
	border: 0.5px solid;
	border-radius: 4px;
	padding: 8px;
	margin: 5px;
}

.float-right {
	float: right;
}

.fill {
	display: block;
	overflow: hidden;
}

.max-height {
	height: 100%;
	display: block;
}

.faded {
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
