@(tasks: List[Task], taskForm: Form[Task])(implicit lang: Lang)

@import helpers.BlankInputHelper._

@main(Messages("application.name")) {
<div class="container" ng-controller="TaskController as taskCtrl">

	@helper.form(action = routes.TasksController.save) {
	<div class="row">
			<div class="col-xs-9">
			  @helper.inputText(taskForm("description"), 'class -> "form-control", 'placeholder -> Messages("task.input.placeholder"))
			</div>
			<div class="col-xs-2">
			  @helper.checkbox(taskForm("dailyFlag"), 'class -> "form-control")
			</div>			
			<div class="col-xs-1"><button type="submit" class="form-control">+</button></div>		
	</div>
 	}
	<div class="row">
		<div class="col-xs-12">
			<h3>@Messages("all.tasks")</h3>
			<dl>
				<dt ng-repeat="task in tasks">
					<input type="checkbox" ng-click="completeTask($index)"> {{task.description}}
				</dt>
			</dl>
		</div>
	</div>
</div>
}
