@(tasks: List[Task], taskForm: Form[Task])(implicit lang: Lang) 
@import helpers.BlankInputHelper._ 

@main(Messages("application.name")) {
<div class="container" ng-controller="TaskController as taskCtrl">
	<div class="createTaskPanel">
	    <form ng-submit="createTask()">
		<div class="row panel-body">
			<div class="col-xs-12">
		      <button type="submit" class="float-right btn btn-default">+</button>
			  @helper.checkbox(taskForm("dailyFlag"), 'class -> "float-right")
			  <label class="sr-only" for="description">Description:</label>
			  <span class="fill"><input type="text" placeholder="@Messages("task.input.placeholder")" class="form-control" name="description" ng-model="task.description"/></span>					
			</div>
		</div>
		</form>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>@Messages("all.tasks")</h2>
			<ul class="list-unstyled">
				<li ng-repeat="task in tasks" class="taskItem">
					<input type="checkbox" ng-click="completeTask($index)" />
					{{task.description}}
					<input type="checkbox"/>
				</li>
			</ul>
		</div>
	</div>
</div>
}
